<!-- hero section -->
  <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
    <div class="grid gap-10 row-gap-8 lg:grid-cols-5">
      <div class="lg:col-span-2">
        <div class="pb-5">
          <input type="text" id="searchBlog" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search">
          <ul class="result"></ul>
        </div>
        <img src="<%= result[0].thumbnail_url %>" class="object-cover w-full h-64 mb-4 rounded" alt="" />
        <p class="mb-2 text-xs font-semibold tracking-wide text-gray-600 uppercase">
          <%= result[0].created_at %>
        </p>
        <div class="mb-3">
          <a href="/read/<%= result[0].slug %>" aria-label="Article" class="inline-block text-black transition-colors duration-200 hover:text-deep-purple-accent-400">
            <div class="font-sans text-xl font-extrabold lg:text-4xl xl:text-5xl dark:text-white">
              <%= result[0].judul %>
            </div>
          </a>
        </div>
        <div class="mb-4 text-base text-gray-700 md:text-lg dark:text-gray-300 text-justify">
          <%- result[0].prev_text %>
        </div>
        <div class="flex items-center">
          <a href="/" aria-label="Author" class="mr-3">
            <img alt="avatar" src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260" class="object-cover w-10 h-10 rounded-full shadow-sm" />
          </a>
          <div>
            <a href="/" aria-label="Author" class="font-semibold text-gray-800 transition-colors duration-200 hover:text-deep-purple-accent-400 dark:text-gray-300"><%= result[0].author %></a>
            <p class="text-sm font-medium leading-4 text-gray-600 dark:text-gray-300">Author</p>
          </div>
        </div>
        <!-- content -->
        <div class="mt-10">
          <div class="sticky top-0 p-6 w-full bg-white rounded-lg border border-gray-200 hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti quibusdam vero commodi in laborum nemo sapiente laudantium distinctio enim consectetur dignissimos, sed voluptate repudiandae asperiores optio vitae pariatur temporibus. Aliquid ratione eaque omnis, inventore voluptate consectetur est possimus, praesentium asperiores in tempora! Labore ex fuga ipsum omnis iusto, explicabo aliquam voluptas, cumque illum rem dicta. Natus dolores molestiae, iste voluptates voluptatibus, architecto non provident eius cumque minus consectetur ea ex. A aliquid excepturi eum natus nisi? Voluptates veritatis commodi facere, dignissimos animi quam, fuga consequuntur nesciunt numquam, corporis voluptas facilis ab sed quo velit quis rem aut at vero. Sint!
            </p>
          </div>
        </div>
      </div>
      <div class="flex flex-col space-y-8 lg:col-span-3">
        <% result.forEach(row  => { %>
        <div>
          <img src="<%= row.thumbnail_url %>" class="object-cover w-full h-64 mb-4 rounded" alt="" />
          <p class="mb-2 text-xs font-semibold tracking-wide text-gray-600 uppercase">
            <%= row.created_at; %>
          </p>
          <div class="mb-3">
            <a href="/read/<%= row.slug %>" aria-label="Article" class="inline-block transition-colors duration-200 hover:text-deep-purple-accent-400">
              <div class="font-sans text-xl font-extrabold leading-none tracking-tight lg:text-2xl dark:text-white">
                <%= row.judul; %>
              </div>
            </a>
          </div>
          <div class="mb-4 text-base text-gray-700 md:text-lg dark:text-gray-400">
            <%- row.prev_text; %>
          </div>
          <div class="flex items-center">
            <a href="/" aria-label="Author" class="mr-3">
              <img alt="avatar" src="https://images.pexels.com/photos/91227/pexels-photo-91227.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260" class="object-cover w-10 h-10 rounded-full shadow-sm" />
            </a>
            <div>
              <a href="/author/<%= row.author %>" aria-label="Author" class="font-semibold text-gray-800 transition-colors duration-200 hover:text-deep-purple-accent-400 dark:text-gray-300"><%= row.author %></a>
              <p class="text-sm font-medium leading-4 text-gray-600 dark:text-gray-300">Author</p>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
    <!-- pagination components -->
    <div class="w-full bg-white dark:bg-gray-900">
      <div class="container flex flex-col items-center px-6 mt-5 mx-auto space-y-6 sm:flex-row sm:justify-between sm:space-y-0 ">
        <div class="-mx-2">
          <% if ((halamanActive - 1) <= 0) { %>
            <!-- none condition -->
          <% } else { %>
            <a href="/page/<%= halamanActive - 1 %>" class="inline-flex items-center px-4 py-2 mx-1 text-gray-700 transition-colors duration-200 transform bg-white rounded-md dark:bg-gray-900 dark:text-gray-200 hover:bg-blue-600 dark:hover:bg-blue-500 hover:text-white dark:hover:text-gray-200">
              Previous
            </a>
          <% } %>
          <% for( let index = 1; index <= jumlahHalaman; index++ ) { %>
            <% if (index == halamanActive) { %>
              <a href="/page/<%= index %>" class="inline-flex items-center justify-center px-4 py-1 mx-2 text-gray-700 transition-colors duration-200 transform bg-gray-100 rounded-lg dark:text-white dark:bg-gray-700">
                <%= index %>
              </a>
            <% } else  { %>
              <a href="/page/<%= index %>" class="inline-flex items-center justify-center px-4 py-1 mx-2 text-gray-700 transition-colors duration-200 transform rounded-lg dark:text-white dark:bg-gray-700">
                <%= index %>
              </a>
            <% } %>
          <% } %>
          <% if (halamanActive == jumlahHalaman) { %>
            <!-- none condition -->
          <% } else { %>
            <a href="/page/<%= Number(halamanActive) + 1 %>" class="inline-flex items-center px-4 py-2 mx-1 text-gray-700 transition-colors duration-200 transform bg-white rounded-md dark:bg-gray-900 dark:text-gray-200 hover:bg-blue-600 dark:hover:bg-blue-500 hover:text-white dark:hover:text-gray-200">
              Next
            </a>
          <% } %>
        </div>

        <div class="text-gray-500 dark:text-gray-400">
            <span class="font-medium text-gray-700 dark:text-gray-100">1 - 25</span> of 77 records
        </div>
      </div>
    </div>
  </div>